[submodule "2TP"]
	path = 2TP
	url = https://github.com/jozsefmorrissey/2TP.git
[submodule "PasswordServer"]
	path = PasswordServer
	url = https://github.com/jozsefmorrissey/PasswordServer.git
[submodule "UserServer"]
	path = UserServer
	url = https://github.com/jozsefmorrissey/UserServer.git
[submodule "collabStr"]
	path = collabStr
	url = https://github.com/jozsefmorrissey/collabStr.git
